
footer {

 & {
      width: 100%;
      margin-top: 100px;
      padding-bottom: 30px;
      color: $color_1;
    }
    
& p{
  text-align: center;
  margin-top: -50px;
}

}

.st1{
  fill: $color_7;
}

   @media (max-width: 420px)  {

     .st1 {
      display: none;
    }
  
    .header1 {
      display: block;
    }
 }