 header {

 & nav {
        padding-bottom: 50px;
        text-align: left;
      }

  & nav ul li {
        display: inline-block;
        margin-right: 20px;
      }

& h1 {
      line-height: 1em;
  }

  & {
     padding-top: 10px;
  }


 }
 


  .layer{
       height: 14px;
       padding-right: 5px;
      }
  
 a{

 & {
     @include text( $weight: 700);
      text-decoration: none;
      color: $color_2;
      transition: .6s ease-out;

      }

  &:hover {
    color: $color_1;
   
  }
    
  & .st0  {
      transition: .4s ease-out;
    }
    
  &:hover .st0{
        fill: $color_1;
         
  }

 }

 
  .header1 {
      display: none;

      @media #{$brk-narrow} {
        display: block;
      }
    }

p {
    @include text($l-height: 2em);
    max-width: 350px;
    margin: 35px auto 0;
    text-align: left;
  }
   