 header {

 & nav {
        padding-bottom: 50px;
        text-align: left;
      }

  & nav ul li {
        display: inline-block;
        margin-right: 20px;
      }

& h1 {
      line-height: 1em;
  }

  & {
     padding-top: 10px;
  }


 }
 


  .layer{
       height: 14px;
       padding-right: 5px;
      }
  
 a{

 & {
      text-decoration: none;
      color: #39add1;
      font-weight: 700;
      transition: .6s ease-out;

      }

  &:hover {
    color: #BA8058;
   
  }
    
  & .st0  {
      transition: .4s ease-out;
    }
    
  &:hover .st0{
        fill: #BA8058;
         
  }

 }

 

 
  .header1 {
      display: none;
      color: #BA8058;
    }

p {
    max-width: 350px;
    margin: 35px auto 0;
    line-height: 2em;
    text-align: left;

  }
   