
 .logo,
 #st0 {
      transition: .2s ease-out;
     
    }


#st0{
  fill:#BA8058;
  stroke: #39add1;

}


.st1{
  fill:#EAAA7F;
}

.paw{
  fill: #F4C6A6;
  transition: transform 1s ease-out;
  transform-origin: 50% 50%;
}


 .logo:hover .paw{
  transform: rotate(40deg) scale(0.9);
}




/************* Dogs **************/

.st00,
.st03,
.st31,
.st32{
  fill:#BA8058;
}

.st10,
.st11,
.st12,
.st23{
  fill:#FBFEFF;
   transition: transform .5s ease-out;
  transform-origin: 50% 50%;
}
 
 .layer_1 {
  transition: transform 1s ease-out;
  transform-origin: 50% 50%;
 }

.layer_1:hover {
  transform: rotate(20deg) scale(1.1);
}

.st10:hover{
  fill: #EAAA7F;
}

.st11:hover{
  fill:#EAAA7F;
}
.st12:hover{
  fill:#EAAA7F;
}

.st23:hover{
  fill:#EAAA7F;
}


.st20,
.st21,
.st22,
.st33{
  fill:#2D3339;
}

.st30{
  fill:#EAAA7F;
}

.st01,
.st02{
  fill:#844B24;
}

                                      
.st13{
  fill:#52595F;
}