body {
  @include text($size: null, $weight: 300, $color: $color_6);
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background: url('../svgs/background.svg') repeat $color_12;
  background-size: 50px 50px; 
}

#container {
  max-width: 960px;
  background:   $color_11;
  margin: 0 auto;
}

/*********** Main ****************/

main {
   
  & {
    padding-top: 50px;
  }

& h2 {
  @include text(28px);
   }

& ul li {
      padding: 0;
      width: 150px;
      
    }

& li {
      display: inline-block;
      color: $color_1;
      margin-right: 20px;
      margin-bottom: 30px;
    }

& li img {
        margin-bottom: 15px;

      }

& li span {
        margin-left: -40px;
      }

& li:last-child {
        margin-right: 0;
      } 

}





   