//Descriptive color variables

$color_1            :#BA8058;
$color_2            :#39add1;
$color_3            :#F4C6A6;
$color_4            :#FBFEFF;
$color_5            :#f5deb3;
$color_6            :#2D3339;
$color_7            :#EAAA7F;
$color_8            :#844B24;
$color_9            :#52595F;
$color_10           :#111;
$color_11           :#FFFFF0;
$color_12           :#edeff0;



